// * ---------------------------------------------------------------------------    
// 
// 	 _    _                          _     _                              _     
// 	(,|  /                          (,|   |                              | /    
// 	  |_/    __,           __,  o  o  |___|   __,   _  _    _  _    __,  |/_   
// 	  | \   /  |  |  |  |_/  |  |  |  |   |  /  |  / |/ |  / |/ |  /  |  |  |  
// 	 _|  \_/\_/|_/ \/ \/  \_/|_/|_/|_/    |_/\_/|_/  |  |_/  |  |_/\_/|_/|  |_/
// 
// 
//	=Wires
//
// 	Main import file for the wireframe
//	This pulls through the theme dependencies to ensure branding consistency
//
// ---------------------------------------------------------------------------- *

// Declare a theme, use mk-theme( wires ) to generate theme-specific styles
$mk-global-theme: wires;


// Import the main file
@import 'main';


// Greyscale all images for wires
// Yes, this is pretty opinionated, but the focus should be on structure
img,
svg {

	-webkit-filter: grayscale( 100% );
	filter: grayscale( 100% );

}