// * ---------------------------------------------------------------------------    
// 
//       __ __  __
//     /  /   /   /     __/__/__
//     \ /   /   /  __   /  /  __  (/__
//      /   /   / /  /  /  /  /__) /  /
//     /   /   / (__/__/_ /__/____/  /_/
//             \
//               SOLUTIONS
// 
// 
//	=Components - Meta - Vars
//
// 	Setup the Meta component for use within a project
//
// ---------------------------------------------------------------------------- */


// ------------------------------------------------
//	Setup vars and mixins
// ------------------------------------------------
$mk-component-meta-name:          meta !default;
$mk-component-meta-selector:      mk-get-selector( $mk-component-meta-name, true, $mk-components-prefix );
$mk-component-meta-config: ();
$mk-component-meta-features: ();



// Setup config mixin
@mixin mk-add-meta-config( $name, $key, $value ) {

	$mk-component-meta-config: mk-add-data( $mk-component-meta-config, $name, $key, $value ) !global;

}

// Setup feature mixin
@mixin mk-add-meta-feature( $name, $key, $value ) {

	$mk-component-meta-features: mk-add-data( $mk-component-meta-features, $name, $key, $value ) !global;

}




// ------------------------------------------------
//	Setup defaults
// ------------------------------------------------

// Base
@include mk-add-meta-config( featurename, key, value );