$mk-obj-layout-selector: '.s-layout';


.s-layout {

	@include mk-create-layout( 0, top );

	&--standard {

		@include mk-media-query( "#{ $mk-styleguide-major-bp }" ) {

			display: flex !important;

		}

		> li:first-of-type {

			background-color: mk-color( grey-ui, light );

			@include mk-media-query( "#{ $mk-styleguide-major-bp }" ) {

				width: 25%;

			}

		}

		> li:last-of-type {

			@include mk-media-query( "#{ $mk-styleguide-major-bp }" ) {

				width: 75%;

			}

		}

	}

}



.s-icon-list {

	li {

		text-align: center;

	}

	span {

		padding: mk-base-spacing-unit( small );
		display: inline-block;

	}


	div {

		font-size: calc-rem( calc-type-scale( -1 ) );
		line-height: 1.3;

	}

}




.s-box {

	padding: mk-base-spacing-unit( small );


	&--aligned {

		display: flex;

	}


	&--bottom {

		.s-box__content {

			align-content: flex-end;

		}

	}

}



.s-item--small {

	@include mk-media-query( "#{ $mk-styleguide-major-bp }" ) {

		width: 50% !important;

	}

}



.s-item--tiny {

	@include mk-media-query( "#{ $mk-styleguide-major-bp }" ) {

		width: 33.33% !important;

	}

}



.s-tab--home.s-tab--is-active {

	background-color: mk-color( primary );
	text-align: center;

	@if ( mk-colour-is-dark( mk-color( primary ) ) ) {

		color: $mk-color--white;

	}

	@include mk-media-query( "#{ $mk-styleguide-major-bp }" ) {

		align-items: center;
		display: flex !important;
		justify-content: center;

	}

}